<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="p-8">
    <h1 class="text-5xl semibold pb-4">Naughts and Crosses!</h1>
    <form>
      <input class="p-2 bg-slate-300 rounded-md" />
    </form>
  </body>
</html>
